<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WAVPA{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <img src="/static/logo-small.png" alt="Logo" class="logo-small">
        <h1 class="header-small">WAVPA</h1>
        <p class="tagline-small">Elegant Web App Template</p>
    </header>
    {% block content %}{% endblock %}
</body>
</html>
